body{
    width: 100%;
    overflow-x: hidden;

}

/*----------------------------*/
/*  TOMAS GARCIA MARIANI MAIN */
/*----------------------------*/



$primary-color: #2f3349;
$secondary-color: #F8DAA4;
$background-color: #fef3df;

.main {
    background-color: $background-color;
    height: 20%;
}

.fotografias {
    background-color: $secondary-color;
    padding-top: 150px;
    width: 200%;

    .hola,
    .soypro {
    font-size: 500%;
    width: 100%;
    margin-left: 5%;
    }

    .circle {
    height: 20px;
    width: 60%;
    margin-bottom: -77%;
    margin-left: 5%;
    display: none;
    }

    .mipic {
    margin-left: 20%;
    border-radius: 10%;
    margin-top: 2%;
    margin-bottom: 4%;
    width: 19%;
    height: 2000px;
    }  

}




.lenguajes {

    
    display: flex;
    background-color: $primary-color;
    height: 800px;
    justify-content: space-around;
    align-items: center;
    width: 100%;



    .foto_html,
    .foto_css,
    .foto_java,
    .foto_react {
    img {
        height: 200px;

        &:hover {
        height: 215px;
        width: 315px;
        }
    }
    }
}

.volver {
    text-align: center;
    padding-top: 200px;
    text-decoration: none;

    #arriba {
    font-size: 200%;
    }

    .flecha {
    height: 40px;
    }

    .up {
    text-decoration: none;
    color: $primary-color;

    &:hover {
        color: $secondary-color;
        transition: 0.5s;
        font-size: 105%;
    }
    }
}

form {
    display: flex;
    justify-content: center;
}

.contactameami {
    display: flex;
    justify-content: center;
    margin-right: 10%;
    background-color: $primary-color; 
    width: 100%;
    margin-top: 1%;

    .correoelectronico2 {
    font-size: 200%;
    display: inline;
    color: $secondary-color;
    text-align: center;
    margin-left: 10%;
    }

    .correo2,
    .fono2 {
    margin-left: 2%;
    font-size: 70%;
    border: solid $primary-color;
    }

    .service {
    margin-left: 10%;
    border: solid $primary-color;
    }

    .send,
    .delete {
    font-size: 70%;
    margin-bottom: 1%;
    color: $secondary-color;
    background-color: $primary-color;
    }
}


/*----------------------------*/
/*       SOBRE MI MAIN        */
/*----------------------------*/

$primary-color: #2f3349;
$secondary-color: #e0f1f1;
$font-family: 'Edu TAS Principiante';

body {
    font-family: $font-family;
}

.datasobremi {
    font-size: 300%;
    margin-left: 5%;
    color: $primary-color;
    padding-top: 5%;
    display: inline-block;
    flex-direction: column;
}

.flechaabajo {
    width: 40%;
    height: 100px;
    margin-left: 20%;
    margin-top: 2%;
}

.mainme{
    background-color: $secondary-color;
    height: 600px;
    width: 1000px;
    border-radius: 50%;
    margin-top: 15%;
    position: relative;}

    .mainme2{
        background-color: $secondary-color;
        height: 600px;
        width: 1000px;
        border-radius: 50%;
        margin-top: 15%;
        position: relative;
        margin-left: 50%;
    
    }

    .miespecialidad,
    .miespecialidad2 {
    position: absolute;
    left: 40px;
    font-size: 400%;
    bottom: 180px;
    color: $primary-color;
    }

    .miespecialidad2{
        font-size: 360%;
        left: 49px;
    }
    


.vercv {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mano {
    height: 400px;
    width: 200px;
    margin-left: 48%;
}

.enlace {
    font-size: 400%;
    text-decoration: none;
    color: $primary-color;

}

a{
    text-decoration: none;
}




/*----------------------------*/
/*    CURRICULUM VITAE MAIN    */
/*----------------------------*/

.vitaeimg{
    display: flex;
    flex-direction: column;
}

.parrafo{
    margin-top: 5%;
    font-size: 200%;
    margin-left: 200px;
    color: #2f3349;

}

.imgvita{
    height: 1500px;
    width: 1000px;
    margin-top: 1%;
    margin-left: 30%;
    border: solid #2f3349 30px; 
}








/*----------------------------*/
/*      PORTAFOLIO MAIN       */
/*----------------------------*/

.gridimagenes{
    margin-bottom: 30%;
    margin-top: 150px;
    height: 550px;
    display: grid;
    grid-template-columns: repeat(2, 0,75fr);
    grid-template-rows: repeat(2, 700px);
    gap: 80px  ;
    grid-template-areas: 
    "ejemplo1 ejemplo2"/*fila1*/
    "ejemplo3 ejemplo4"/*fila2*/
    
    
    ;
}



.size h1{
    font-size: 150%;
    margin-top: 30px;
}

.size{
    text-align: center;
    color: #2f3349;
}

.size img{
    width: 100%;
    height: 100%;

}

.ejemplo1{
    grid-area: ejemplo1;
}

.ejemplo2{
    grid-area: ejemplo2;
}

.ejemplo3{
    grid-area: ejemplo3;
}

.ejemplo4{
    grid-area: ejemplo4;
}

.portafoliofooter{
    margin-top: 10%;
}

